<app-header></app-header>

<div class="cashier-page">
  <div class="left-section">
    <section>
      <app-bill-calculator></app-bill-calculator>
    </section>
  </div>
  <div class="center-container">
    <div class="center-section">
      <section>
        <div>
          <app-statistics></app-statistics>
        </div>
      </section>
    </div>
    <div class="center-section" style="margin-top: 20px; flex: 0.5;">
      <section>
        <div>
          <app-remove-waiter></app-remove-waiter>
        </div>
      </section>
    </div>
  </div>
  <div class="right-section">
    <section>
      <app-table-status></app-table-status>
    </section>
  </div>
</div>